{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="#" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> Follow me
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

ProTip:
==============
Ghostium uses Font Awesome you can find all icons available on the url below
  http://fortawesome.github.io/Font-Awesome/cheatsheet/

}}

<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>Home
  </a>
</li>
<li class="drawer-list-item">
  <a href="/about-me" data-pjax>
    <i class="fa fa-rocket"></i>AboutMe
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://resume.gyroer.com">
    <i class="fa fa-graduation-cap"></i>Resume
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss/">
    <i class="fa fa-rss"></i>Subscribe to Feed
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>
<li class="drawer-list-item">
  <a href="http://twitter.com/gaopeak" target="_blank">
    <i class="fa fa-twitter"></i>Twitter
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://github.com/mrpeak" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://weibo.com/hellopeaker" target="_blank">
    <i class="fa fa-weibo"></i>Weibo
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://www.renren.com/337620215/profile" target="_blank">
    <i class="fa fa-renren"></i>Renren
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Contact me
</li>
<li class="drawer-list-item">
  <a href="http://weixin.qq.com/cgi-bin/showcard?t=weixin_card&muin=569052161&fuin=569052161" target="_blank">
    <i class="fa fa-wechat"></i>Wechat
  </a>
</li>
<li class="drawer-list-item">
  <a href="mailto:gaofeng.gf@alibaba-inc.com" target="_blank">
    <i class="fa fa-envelope"></i>Email
  </a>
</li>
